In [76]:
import pandas as pd
import numpy as np
import sklearn.linear_model as lm
import statsmodels.api as sm
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error as mse

In [37]:
df = pd.read_csv('Temirlan_summary.txt', sep='\t', header=None)

In [38]:
df

       0   1      2    3
0  0.785  93  0.381  130
1  0.829  79  0.404  130
2  0.678  75  0.378  130
3  0.786  79  0.390  130
4  0.791  84  0.418  130
5  0.862  84  0.415  130
6  0.836  75  0.420  130
7  0.802  79  0.423  130
8  0.824  79  0.425  130
9  0.844  84  0.417  130

In [39]:
df.rename(columns={0: 'shift', 1: 'bpm', 2: 'attitude', 3: 'bp'}, inplace=True)

In [40]:
df

   shift  bpm  attitude   bp
0  0.785   93     0.381  130
1  0.829   79     0.404  130
2  0.678   75     0.378  130
3  0.786   79     0.390  130
4  0.791   84     0.418  130
5  0.862   84     0.415  130
6  0.836   75     0.420  130
7  0.802   79     0.423  130
8  0.824   79     0.425  130
9  0.844   84     0.417  130

In [63]:
df[['shift', 'bpm', 'attitude']][:5].values

array([[ 0.785, 93.   ,  0.381],
       [ 0.829, 79.   ,  0.404],
       [ 0.678, 75.   ,  0.378],
       [ 0.786, 79.   ,  0.39 ],
       [ 0.791, 84.   ,  0.418]])

In [65]:
X_train, X_test, y_train, y_test = df[['shift', 'bpm', 'attitude']][:5].values, df[['shift', 'bpm', 'attitude']][5:].values,df['bp'][:5].values,df['bp'][5:].values

In [70]:
skm = lm.LinearRegression()
skm.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [73]:
skm.get_params()

{'copy_X': True, 'fit_intercept': True, 'n_jobs': None, 'normalize': False}

In [75]:
skm.predict(X_test)

array([130., 130., 130., 130., 130.])

In [77]:
predicted = skm.predict(X_test)

In [78]:
mse(predicted, y_test)

0.0